HTTP/1.1 500 Internal Server Error
Cache-Control: no-cache
Status: 500
Connection: close
Content-Type: text/html; charset=utf-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Oops, something isn&rsquo;t working.</title>
  <style type="text/css">
    body {
    	margin: 0;
    	padding: 60px 15px;
    	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
    	color: #222;
    	background: #e5e5e5;
    	text-align: center;
    }
    div.dialog {
      background: #fff;
      max-width: 500px;
      text-align: left;
      margin: 0 auto;
    	-webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px;
    	-webkit-box-shadow: 0 0 6px #999; -moz-box-shadow: 0 0 6px #999; box-shadow: 0 0 6px #999;
      border: 1px solid #ccc;
    }
    body:first-of-type div.dialog {border: none;}
    div.innercol {padding: 15px 30px 20px 35px;}
    h1 {color: #000; font-size: 24px; margin: 14px 0 5px; font-family: helvetica, arial, sans-serif;}
    h2 {color: #c00; font-size: 18px; margin: 5px 0 18px; font-family: helvetica, arial, sans-serif;}
    p {font-size: 14px; margin: 0 0 20px; line-height: 18px;}
    li {font-size: 14px; list-style-type: square; margin-bottom: 6px;}
    h2 em {text-decoration: underline; font-style: normal;}
    p.back {margin: 18px 0 0;}
    a, a:link, a:visited {text-decoration: underline; padding: 1px; color: #03c;}
    a:hover {color: #fff; background-color: #30c; text-decoration: none;}
    p.back a {
      color: #000;
      text-decoration: none;
      display: inline-block;
      padding: 8px 12px;
      border: 2px solid #ccc;
      background: #eee;
      background: -moz-linear-gradient(top, #fff 0%, #eee 70%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.7, #eee));
      -webkit-border-radius: 18px; -moz-border-radius: 18px; border-radius: 18px;
    }
    p.back a:hover {
      background: #fff;
      background: -moz-linear-gradient(top, #ddd 0%, #fff 70%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddd), color-stop(0.7, #fff));
    }
    @media screen and (max-width: 400px) {
      body {padding: 0;}
      div.dialog {margin: 0; border: none; -webkit-border-radius: 0; -moz-border-radius: 10; border-radius: 0;}
    }
  </style>
</head>

<body>
  <div class="dialog">
    <div class="innercol">
      <h1>Oops, something isn&rsquo;t working.</h1>
      <h2>This is our fault, not yours. We&rsquo;re sorry.</h2>
      <p>It&rsquo;s likely this is a temporary glitch that will be fixed within a few minutes. If you continue to see this error:</p>
      <ul>
        <li><a href="http://status.example.com/">Check our status site for an update</a></li>
      </ul>
    </div>
  </div>
  <p class="back">
    <a href="javascript:window.history.back();">&larr; Back to previous page</a>
  </p>
</body>
</html>
